<div class="row">
  <div class="one columns">

    <% if user.email %>
      <%= image_tag user.gravatar_url, :class => "u-max-full-width" %>
    <% else %>
      Enter an email for avatar
    <% end %>
  </div>

  <div class="four columns">
    <h5><%= user.name %></h5>
  </div>
  <div class="five columns">
    <p><%= user.comment %></p>
  </div>
  <div class="two columns">
    <%= link_to 'Edit', edit_user_path(user), :class => "button" %>
  </div>
</div>