<div class="row">
  <span style="text-align: center"><h2><strong>Coffee?</strong></h2>
  <% @next_sunday = Date.new %>
  <% @next_sunday = Time.now.end_of_week %>
  <p>On Sunday, <%= @next_sunday.strftime("%B %d, %Y") %></p></span>
</div>

  <% helper.dateCheck %>

  <hr>
  <h4><strong>Will be there:</strong></h4>
  <% @users.each do |user| %>
    <% if user.attending == true %>
      <%= render 'list', :user => user %>
    <% end %>
  <% end %>

  <hr>
  <h4><strong>Not this week:</strong></h4>

  <% @users.each do |user| %>
    <% if user.attending == false %>
      <%= render 'list', :user => user %>
    <% end %>
  <% end %>

<hr>
<div class="row">
  <%= link_to 'New User', new_user_path, :class => "button" %>
</div>